# Your workflow name.
name: Deploy to ACR/AKS.

# Run workflow on every push to main branch.
on: 
  workflow_dispatch

# Your workflows jobs.
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Check-out your repository.
      - name: Checkout
        uses: actions/checkout@v2

      - name: build and push container registry
        uses: azure/docker-login@v2
        with:
          login-server: mypocacr.azurecr.io
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - run: |
          docker build . -t mypocacr.azurecr.io/mydemo:${{ github.sha }}
          docker push mypocacr.azurecr.io/mydemo:${{ github.sha }}
      
      - uses: azure/login@v2
        with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - uses: azure/aks-set-context@v3
        with:
            resource-group: 'adfRG'
            cluster-name: 'MyPOC_AKS'
      
      - uses: Azure/k8s-create-secret@v4
        with:
          container-registry-url: mypocacr.azurecr.io
          container-registry-username: ${{ secrets.REGISTRY_USERNAME }}
          container-registry-password: ${{ secrets.REGISTRY_PASSWORD }}
          secret-name: mydemo-secret

      - uses: Azure/k8s-deploy@v5
        with:
          action: deploy
          manifests: |
              manifests/deployment.yml
              manifests/service.yml
          images: |
              mypocacr.azurecr.io/mydemo:${{ github.sha }}
          imagepullsecrets: |
              mydemo-secret